@model CinemasTheBESTia.Web.MVC.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Details";
}
@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}

<div>
    <form method="post" class="container">
        <br />
        <dl class="dl-horizontal clearfix">
            <dt>
                <label asp-for="Movie.OriginalTitle"></label>
            </dt>
            <dt>
                <label asp-for="Movie.VoteAverage"></label>
            </dt>
            <dd>
                @Model.Movie.VoteAverage
            </dd>

            <dd>
                @Model.Movie.OriginalTitle
            </dd>
            <dt>
                <label asp-for="Movie.OriginalLanguage"></label>
            </dt>
            <dd>
                @Model.Movie.OriginalLanguage
            </dd>
            <dt>
                <label asp-for="Movie.Overview"></label>
            </dt>
            <dd>
                @Model.Movie.Overview
            </dd>
            <dt>
                <label asp-for="Movie.ReleaseDate"></label>
            </dt>
            <dd>
                @Model.Movie.ReleaseDate
            </dd>
            <dt>
                <label asp-for="Movie.PosterPath"></label>
            </dt>
            <dd>
                <img class=" img" src="@Url.Content(Model.Movie.FullPosterPath)" />
            </dd>
        </dl>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6">

                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>FunctionDateTime</th>
                            <th>AvailableSeats</th>
                            <th>Number of tickets</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var cinemaFunction in Model.CinemaFunctions)
                        {
                            bool disponibility = cinemaFunction.AvailableSeats > 0;

                            <tr class="@(disponibility ? "success": "danger" )">
                                <td>@cinemaFunction.FunctionDateTime</td>
                                <td>@cinemaFunction.AvailableSeats</td>

                                @if (cinemaFunction.AvailableSeats > 0)
                                {
                                    <td>
                                        <a asp-action="Index" asp-controller="Booking"
                                           asp-route-movieId="@Model.Movie.Id"
                                           asp-route-cinemaFunctionId="@cinemaFunction.CinemaFuctionId">
                                            Buy Tickets
                                        </a>

                                    </td>
                                }
                                else
                                {
                                    <td>Out of sale</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </form>

</div>


<div>

    <a asp-action="Index">Back to List</a>
</div>
