@model CinemasTheBESTia.Web.MVC.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}

<div>
    <h4>Movie</h4>
    <hr />
    <form method="post" class="container">

        <dl class="dl-horizontal clearfix">
            <dt>
                <label asp-for="Movie.VoteAverage"></label>
            </dt>
            <dd>
                @Model.Movie.VoteAverage
            </dd>
            <dt>
                <label asp-for="Movie.OriginalTitle"></label>
            </dt>
            <dd>
                @Model.Movie.OriginalTitle
            </dd>
            <dt>
                <label asp-for="Movie.OriginalLanguage"></label>
            </dt>
            <dd>
                @Model.Movie.OriginalLanguage
            </dd>
            <dt>
                <label asp-for="Movie.Overview"></label>
            </dt>
            <dd>
                @Model.Movie.Overview
            </dd>
            <dt>
                <label asp-for="Movie.ReleaseDate"></label>
            </dt>
            <dd>
                @Model.Movie.ReleaseDate
            </dd>
            <dt>
                <label asp-for="Movie.PosterPath"></label>
            </dt>
            <dd>
                <img class=" img" src="@Url.Content(Model.Movie.FullPosterPath)" />
            </dd>
        </dl>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-2">
                <Label>Function Time:</Label>
            </div>
            <div class="col-md-2">
                <input type="hidden" asp-for="Movie.Id" />
                <input type="hidden" asp-for="Movie.OriginalTitle" />
                <input type="hidden" asp-for="Movie.VoteAverage" />
                <select asp-for="CinemaFunctionID" asp-items="@(new SelectList(Model.CinemaFunctions,"CinemaFuctionId", "FunctionDateTime"))">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="col-md-2">

                <button asp-controller="Movies" formmethod="post" asp-action="CheckSeats"
                        class="btn btn-info" name="button" value="seats">
                    Check availability
                </button>
            </div>

        </div>


    </form>

</div>


<div>

    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    function SelectedIndexChanged() {
        //Form post
        document.functionsForm.submit();
    }
</script>
